<template>
    <div class="container">
        <span class="container__title">Automóveis a venda</span>
        <div class="cars">
            <div v-for="car in cars" :key=car.id class="car">
                <div class="car__info">
                    <span>Código: {{car.id}}</span>
                    <span>Marca: {{car.marca}}</span>
                    <span>Modelo: {{car.modelo}}</span>
                    <span>Valor: R${{car.valorVenda}}</span>
                </div>
                <div class="car__actions">
                    <p class="car__action" @click="handleSale(car.id)">Vender</p>
                    <p class="car__action" @click="handleUpdate(car)">Atualizar</p>
                    <p class="car__action" @click="handleDelete(car)">Excluir</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import api from '../services/api';

export default {
    data: () => ({
        cars: []
    }),

    methods: {

        changeList(id) {
            this.cars = this.cars.filter(car => {
                return car.id != id;
            });
        },

        handleDelete(car) {
            if(car.vendido) {
                alert("Automóvel não pode ser excluído")
            }
            else if(confirm("Você deseja realmente excluir este automóvel?")) {
                api.delete(`automovel/${car.id}`)
                this.changeList(car.id);
            }
        },

        handleUpdate(car) {
            this.$root.$emit('updateAutomovel', car)
        },

        handleSale(id) {
            if(confirm("Você deseja realmente vender este automóvel?")) {
                api.get(`automovel/vender/${id}`)
                .then(() => {
                    this.$root.$emit('adicionarVendido');
                });
                this.changeList(id);
            }
        },

        getData() {
            const data = api.get('automovel/vendidos', {
                params: {
                    vendido: false
                }
            });

            data.then(response => {
                // ordena os automóveis pelo id
                this.cars = response.data.sort((a, b) => {
                    return a.id < b.id ? -1 : a.id > b.id ? 1 : 0
                });
            })
        }
    },

    mounted () {
        this.getData();
        this.$root.$on('cadastrarAutomovel', () => {
            this.getData();
        })
    }
}
</script>

<style scoped>
    .container {
        color: black;
        background-color: black;
        height: 400px;
        overflow-y: auto;
        border: 1px solid #ccc;
    }

    .container__title {
        color: #FFF;
        font-size: 1.4em;
    }

    .car {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 100%;
        background: #FFFFFFEE;
        margin-bottom: 20px;
        padding: 15px;
    }

    .car__info {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .car__actions {
        width: 100%;
        display: flex;
        overflow-x: auto;
    }

    .car__action {
        margin-right: 8px;
        cursor: pointer;
        padding: 8px;
        background-color: green;
        color: #FFF;
        border-radius: 5px;
    }

    .car__action:hover {
        background-color: #00A900;
    }

</style>