<template>
    <header class="header">
        <router-link to="/">AutoShopping</router-link>
    </header>
</template>

<script>
export default {
    
}
</script>

<style scoped>
    .header {
        width: 100%;
        height: 50px;
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        text-transform: uppercase;
    }

    a {
        color: black;
        text-decoration: none;
    }
</style>