<template>
    <div class="container">
        <span class="title">Cadastrar / Atualizar Veículo</span>
        <form class="form" @submit.prevent="choose">
            <label for="marca">Marca</label>
            <input required type="text" v-model="marca" id="marca">

            <label for="modelo">Modelo</label>
            <input required type="text" v-model="modelo" id="modelo">

            <label for="valor">Valor de Venda</label>
            <input required type="number" v-model="value" step="0.01" id="valor">

            <div class="actions">
                <input type="submit" class="salvar" value="Salvar">
                <input type="reset" @click="reset" class="cancelar" value="Cancelar">
            </div>
        </form>
    </div>
</template>

<script>

import api from '../services/api';

export default {
    data: () => ({
        type: 1,
        id: null,
        marca: null,
        modelo: null,
        value: null
    }),

    methods: {
        saveAutomovels() {
            api.post('automovel', {
                marca: this.marca,
                modelo: this.modelo,
                valorVenda: this.value
            })
            .then(() => {
                this.$root.$emit('cadastrarAutomovel');
            })
        },

        updateAutomovel() {
            api.put(`automovel/${this.id}`, {
                marca: this.marca,
                modelo: this.modelo,
                valorVenda: this.value
            })
            .then(() => {
                this.$root.$emit('cadastrarAutomovel');
            })
        },

        choose() {
            if(this.validate()) {
                if(this.type === 1)
                    this.saveAutomovels();
                if(this.type === 2) {
                    this.updateAutomovel();
                }
                this.reset();
            }
        },

        reset() {
            this.id = null;
            this.type = 1;
            this.marca = null;
            this.modelo = null;
            this.value = null;
        },

        validate() {
            if(!this.marca.trim()) {
                alert('Digite uma marca');
                return false;
            }
            if(!this.modelo.trim()) {
                alert('Digite um modelo');
                return false;
            }
            if(this.value <= 0) {
                alert('Digite um valor maior que 0');
                return false;
            }
            return true;
        }
    },

    mounted() {
        this.$root.$on('updateAutomovel', automovel => {
            this.marca = automovel.marca;
            this.modelo = automovel.modelo;
            this.value = automovel.valorVenda;
            this.id = automovel.id;
            this.type = 2;
        })
    }
}
</script>

<style scoped>
    .container {
        color: black;
        background-color: #FFF;
        height: 400px;
        overflow-y: auto;
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .form {
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 20px;
    }

    input {
        padding: 8px;
    }

    .actions {
        margin-top: 8px;
        display: flex;
        justify-content: flex-end;
    }

    .salvar {
        margin-right: 10px;
        cursor: pointer;
    }

    .cancelar {
        cursor: pointer;
    }
</style>