<template>
    <div class="container">
        <span class="container__title">Automóveis Vendidos</span>
        <div class="automoveis">
            <div v-for="automovel in automoveis" :key=automovel.id class="automovel">
                <div class="automovel__info">
                    <span>Código: {{automovel.id}}</span>
                    <span>Marca: {{automovel.marca}}</span>
                    <span>Modelo: {{automovel.modelo}}</span>
                    <span>Valor: R${{automovel.valorVenda}}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import api from '../services/api';

export default {
   data: () => ({
       automoveis: []
   }),

   methods: {
       getData() {
        api.get('/automovel/vendidos', {
                params: {
                    vendido: true
                }
            })
            .then(response => {
                this.automoveis = response.data;
            })
       }
   },

   mounted() {
       this.getData();
       this.$root.$on('adicionarVendido', () => {
           this.getData();
       })
   }
}
</script>

<style scoped>
    * {
        box-sizing: border-box;
    }

    .container {
        color: black;
        background-color: black;
        height: 400px;
        overflow-y: auto;
        border: 1px solid #ccc;
        overflow-y: auto;
        grid-column: 1 / 3;
    }

    .container__title {
        color: #FFF;
        font-size: 1.4em;
    }

    .automoveis {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        grid-auto-rows: 150px;
        gap: 10px;
    }

    .automovel {
        align-items: center;
        width: 100%;
        background: #FFFFFFEE;
        margin-bottom: 20px;
        padding: 15px;
    }

    .automovel__info {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
</style>