<template>
  <div class="home">
    <Cars/>
    <Modal/>
    <Vendidos/>
  </div>
</template>

<script>
// @ is an alias to /src

import Cars from '../components/Cars';
import Vendidos from '../components/Vendidos';
import Modal from '../components/Modal';

export default {
  name: 'Home',
  components: {
    Cars,
    Vendidos,
    Modal
  }
}
</script>

<style scoped>
  .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 15px;
  }
</style>